<nav class="barra">
    <div clarss="container-fluid">
        <div class="d-flex align-items-center justify-content-between row">
            <a href="#" class="logoap d-flex align-items-center justify-content-center col-lg-auto col-sm-auto"><img src="../../../assets/imagenes/APLogo-20-20.png" alt="Logo Argentina Programa"
                id="logoap">#YoProgramo</a>
            <div class="redes col-lg-auto col-sm-auto">
                <ul class=" nav d-flex align-items-center  justify-content-center">
                    <li class="nav-item"><a href="https://wa.me/541165119855" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>                  
                    <li class="nav-item"><a href="mailto:cdmengual@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                    <li class="nav-item"><a href="https://github.com/CDMengual" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/cesarmengual_/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a></li> 
                    <li class="nav-item"><a href="https://www.linkedin.com/in/cesar-mengual-0187182b" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li class="nav-item"><a href="#"><i class="fas fa-user" id="loginimg"></i></a></li>
                </ul>
            </div>
        </div>    
    </div>
</nav>
<div class="banner">
    <div class="container-fluid banner-text">
        <h1 id="name">César D. Mengual</h1>
        <h2 id="titulo">Full Stack Developer Jr.</h2>
    </div>
</div>



