<div class="barra">
    <div class="logo">
        <a href="#"><img src="../../assets/imagenes/APLogo-20-20.png" alt="Logo Argentina Programa"
            id="logoap">#YoProgramo</a>
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Educación</a></li>
            <li><a href="#">Experiencia</a></li>
            <li><a href="#">Habilidades</a></li>
            <li><a href="#">Proyectos</a></li>
        </ul>
    </nav>
    <div class="login">
        <a href="#"><i class="fas fa-user" id="loginimg"></i></a>         
    </div>
</div>
<div class="banner">
    <h1 id="name">César D. Mengual</h1>
    <h2 id="titulo">Full Stack Developer Jr.</h2>

</div>
