<div class="container-fluid experiencia">
    <h3>/// Experiencia</h3>
    <div class="dpes">
        <div class="logo-dpes">
            <img src="img/Logotipo_de_la_Provincia_de_Buenos_Aires.svg.png" id="logo-prov" width="150px" alt="">
        </div>
        <div class="info-dpes">
        <h4>Dirección Provincial de Educación Superior de la Prov. de Buenos Aires</h4>
        <h6>Coordinador Académico</h6>
        <h6>2021-Actualidad</h6>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quas reiciendis dolorum eaque quam possimus quibusdam placeat accusamus est, velit, vel excepturi maxime harum provident sed officia sapiente quae dicta?</p>
        </div   >
        
    </div>
    <div class="coope">
        <h4>Asociación Cooperadora INEF N°1 Dr. Enrique Romero Brest</h4>
        <h6>Jefe de Administración</h6>
        <h6>2015-2021</h6>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quas reiciendis dolorum eaque quam possimus quibusdam placeat accusamus est, velit, vel excepturi maxime harum provident sed officia sapiente quae dicta?</p>
    </div>
    <div class="malvinas">
        <h4>Municipalidad Malvinas Argentinas</h4>
        <h6>Coordinadopr de Eventos Deportivos</h6>
        <h6>2019-2020</h6>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quas reiciendis dolorum eaque quam possimus quibusdam placeat accusamus est, velit, vel excepturi maxime harum provident sed officia sapiente quae dicta?</p>
    </div>
   
</div>