.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.fa-brands, .fa-solid{
    color: rgb(68, 162, 190);
    padding: .7rem;
    transition: all .5s;
}

.fa-brands:hover, .fa-solid:hover{
    padding-right: 2rem;
    border-radius: 1ren 0 0 1rem;
}


