<div class="container-fluid">
   <div class="d-flex flex-wrap acerca-de align-items-center justify-content-center">
      <div class="imagen col-lg-3  align-item-center justify-content-end d-flex ">
         <img src="../../../assets/imagenes/foto-puente3.png"  alt="Puente" id="foto-puente">
      </div>
      <div class="info align-items-center justify-content-center col-lg-7">
         <h1>Acerca de mi</h1>
         <div class="d-flex info-acerca-de">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio accusantium autem repellat, animi
               numquam nobis amet dolorem, iure suscipit tempore error aliquam? Corporis at adipisci velit aliquam,
               expedita provident laborum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum vel officiis, quidem eos repudiandae
               laboriosam fuga ab culpa ut sed in unde perspiciatis explicabo nihil, blanditiis maiores fugiat quas
               ullam.</p>

         </div>

      </div>


   </div>


</div>