.container-fluid{
    background-color: #0e1314;
}
.acerca-de{
    padding: 20px;
}

#foto-puente{
    border-radius: 10%;
    overflow: hidden;
    min-width: 30%;
    border-color: 10px solid #fff;
}

.info{
    color: #fff;
    margin-left: 20px;
    font-weight: 400;
    font-family: 'Anybody';
}
.info h1{
    font-size: 50;
    border-bottom: 1px solid #DE570F;
}
.info p{
    font-size: 18px;
    margin-right: 30px;
}
